.button{
    background: transparent;
    border: 1px solid $color-button-border-grey;
    padding: 5px 5px;
    margin: 0 5px;


    &:hover{
        cursor: pointer;
        background-color: $color-button-hover-grey;
    }

    &:focus, &:active {
        outline: none;    
    }

    &:active{
        background-color: $color-grey-primary;
    }
}