
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-background-blue: #007bff;
$color-white: #fff;

$color-grey-light: #ebebeb;
$color-grey-dark: #282c34;

$color-grey-primary: #f8f8f8;

$color-grey-1: #cecece;

$color-input-grey: #cecece;
$color-input-focus-grey: #575757;

$color-label-grey: #9d9c9c;

$color-button-border-grey : #818181;
$color-button-hover-grey: #cecece;

$shadow-light: 0 1rem 1rem rgba(0,0,0,0.15);
$shadow-dark: 0 1rem 1rem rgba(0,0,0,0.2);

$input-height: 2rem;


